.chat-container {
	height: 800px;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.chat-container .card {
	height: 100%;
}

.login-container .card {
	max-width: 400px;
}

.fixed-panel {
	height: 100%;
    overflow: auto;
}

.media-list {
    overflow: auto;
    padding-left: unset;
    margin-top: 1rem;
}
      
.avatar {
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 15px;
}

.btn-info {
    background-color: #347E87;
    border-color: #347E87;
    margin-left: 0.75rem;
}

.btn-success {
	background-color: #347E87;
    border-color: #347E87;
}

.btn-success:hover {
	background-color: #138496;
	border-color: #117a8b;
}

#messageText {
	overflow: hidden;
	resize: none;
}