<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Christian Bauer">
    <title th:text="${appName}">Applikation</title>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.0/sockjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script  th:src="@{/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/main.js}"></script>
    <script th:inline="javascript">

	    $(function(){
	    	// Sets the partnerName and partnerNummer over thymeleaf
	    	/*<![CDATA[*/
		    
	         var partnerName = /*[[${partnerName}]]*/ null;
	         var partnerNummer = /*[[${partnerNummer}]]*/ null;
	         
	         var isMobileDevice = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);

	       /*]]>*/
	       
	       	// If no partnerName and no nickname-Cookie is set the location changes to the login Page
	       	// If a name or cookie is set the Websocket Connection ist build and the events to refresh messages and send messages are set
	        if (typeof $.cookie("realtime-chat-nickname") === 'undefined' && partnerName === null) {
	            window.location = "/login"
	        } else {
	            connect();
	            $.get("/messages", function (messages) {
	                refreshMessages(messages);
	            });
	
	            $("#sendMessage").on("click", function() {
	            	sendMessage(partnerNummer, partnerName);
	            });
	            
                $('#messageText').keydown(function(e){
                    if(e.keyCode == 13 && !e.shiftKey && !isMobileDevice)
                    {
                   	 	e.preventDefault();
                        sendMessage(partnerNummer, partnerName);
                    }
                });

	        }

	       // Autoresizes the height of the textarea depending on its content. --> Jquery
	        jQuery.each(jQuery('textarea'), function() {
	            var offset = this.offsetHeight - this.clientHeight;
	         
	            var resizeTextarea = function(el) {
	                jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
	            };
	            jQuery(this).on('keyup input', function() { resizeTextarea(this); });
	        });
	       
	        
	        // Set style Property --vh for mobile viewport. (As adjustment to the wrong viewport interpretation, on the basis of the dynamic mobile searchbars) 
        	setViewportPropertyForMobile()
        	
        	// set Property on each resize
	       	window.addEventListener('resize', () => {
	       		setViewportPropertyForMobile()
    	  	});
	       
	    })
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
	<body>
		<div class="chat-container p-3">
	       <div class="card">
	           <div class="card-header">
	               <i class="fas fa-list" style="margin-right: 10px;"></i><strong th:text="#{chatHistoryHeader}"></strong>
	           </div>
	           <div class="card-body fixed-panel" id="chatDiv">
	               <ul class="media-list">
	               </ul>
	           </div>
	           <div class="card-footer">
	               <div class="input-group">
	                   <textarea class="form-control" th:placeholder="#{textfieldPlaceholder}" id="messageText"  cols="60" wrap="hard"></textarea>
	                   <span class="input-group-btn">
	                       <button class="btn btn-info" type="button" id="sendMessage" ><i class="fas fa-paper-plane" style="margin-right: 10px;"></i>[[#{sendButton}]]</button>
	                   </span>
	               </div>
	           </div>
	       </div>
        </div>
	</body>
</html>