<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Christian Bauer">
        <link rel="icon" href="../../favicon.ico"/>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
        <title th:text="#{pageHeader}">Applikation</title>
    </head>
    <body>
     	<nav class="navbar navbar-expand-lg navbar-success bg-success" style="background-color:#528C9A !important;"></nav>
        <div class="container" style="background-color: #f2f2f2">
        	<div class="py-5 text-center">
		        <h1 th:text="#{errorHeadline}"></h1>
		        <p th:text="#{errorText}"></p>
	        </div>
        </div>
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script th:href="@{/js/bootstrap.js}"></script>
    </body>
</html>