<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Christian Bauer">
    <title th:text="${appName}">Applikation</title>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script  th:src="@{/js/bootstrap.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
    	// If a cookie is set the user will be forwarded to the chat Page.
    	// If not the User can submit a nickname, which will be bind to a cookie, and will be forwarded to the chat Page.
        $(function(){
            if ($.cookie("realtime-chat-nickname")) {
                window.location = "/chat"
            } else {
                $("#frm-login").submit(function(event) {
                    event.preventDefault();
                    if ($("#nickname").val() !== '') {
                        $.cookie("realtime-chat-nickname", $("#nickname").val());
                        window.location = "/chat";
                    }
                })
            }
        })
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
	<body>
		<div class="login-container p-3">
		    <div class="card mx-auto">
		        <div class="card-header">
		            <strong th:text="#{loginTitle}"></strong>
		        </div>
		        <div class="card-body">
		            <form role="form" id="frm-login">
		                <fieldset>
		                    <div class="form-group">
		                        <input class="form-control" th:placeholder="#{nicknamePlaceholder}" name="nickname" id="nickname" type="text" autofocus required/>
		                    </div>
		                    <button type="submit" class="btn btn-lg btn-success btn-block" th:text="#{loginButtonLabel}"></button>
		                </fieldset>
		            </form>
		        </div>
		    </div>
	    </div>
	</body>
</html>